
<div class="header-container">
  <h1>BOOK STORE</h1>
  <div class="links">
    <a routerLink="login" *ngIf="!isUserLoggedIn">LOGIN</a>
    <a routerLink="sign-up" *ngIf="!isUserLoggedIn" >SIGN-UP</a>
    <a routerLink="all-books">ALL BOOKS</a>
    <a routerLink="my-books" *ngIf="isUserLoggedIn" >MY BOOKS</a>
    <a routerLink="admin-add-book" *ngIf="isUserAdmin">ADD BOOK</a>
  </div>
  <a routerLink="update-private-details" *ngIf="isUserLoggedIn">UPDATE DETAILS</a>
  <a routerLink="cart" class="cart" *ngIf="isUserLoggedIn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="shopping-cart"><g data-name="Layer 2"><g data-name="shopping-cart"><path d="M21.08 7a2 2 0 0 0-1.7-1H6.58L6 3.74A1 1 0 0 0 5 3H3a1 1 0 0 0 0 2h1.24L7 15.26A1 1 0 0 0 8 16h9a1 1 0 0 0 .89-.55l3.28-6.56A2 2 0 0 0 21.08 7zm-4.7 7H8.76L7.13 8h12.25z"></path><circle cx="7.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></g></g></svg>
  </a>
  <div class="log_out_button" *ngIf="isUserLoggedIn" (click)="logOut()" >
    <div class="log_out_profile_pic"></div>
    <span class="log_out_text">Log out</span>
  </div>
</div>
