.books-container {
  position: absolute;
  top: 185px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;

  .book {
    height: 340px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 0px 3px 34px -5px #000000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.148);
    padding: 10px;
    border-radius: 10px;
    border: 4px ridge rgb(103 168 221 / 44%); // background-color: #e2e6ea;
    transition: transform 0.4s ease-out;
    &:hover {
      transform: scale(1.1);
    }
    .photo {
      width: 115px;
      height: 175px;
      border-radius: 5px;
    }
    .prisoner {
      background: url("../../../photos/prisoner.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .stone {
      background: url("../../../photos/stone.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .phoenix {
      background: url("../../../photos/phoenix.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .prince {
      background: url("../../../photos/prince.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .hallows {
      background: url("../../../photos/hallows.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      font-weight: bolder;
    }
  }
}

.button {
  width: 140px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #59625e;
  box-shadow: 0px 15px 20px rgba(178, 201, 192, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.search-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 80vw;
  height: 20px;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transform-style: preserve-3d;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #9cc1cb;
  color: #fff;
  border-radius: 50%;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 400px; // adjust as needed
}
.my-pagination ::ng-deep .ngx-pagination a {
  border-radius: 20px;
  font-weight: bold;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid powderblue;
  border-radius: 27px;
  width: 60%;
  height: 60%;
  position: relative;
  overflow-y: auto;
}
p {
  font-family: cursive;
  margin-top: 10%;
}
h2 {
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.suggestions-container {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  width: 80vw;
  top: 153px;
  .suggestion {
    cursor: pointer;
    height: 45px;
    width: 100%;
    border-radius: 5px;
  }

}
.suggestion:hover {
  background-color: #bbdae4;
}
